.text{
  width: 593px;
  font-size: 16px;
  color: #000;
}

#content{
  background: #FFF;
}

.specialists{
  margin-top: -150px;
  margin-left: -54px;
  margin-right: -54px;
}

.specialists_item{
  width: calc( 33.3333% - 108px);
  margin: 150px 54px 0;
  float: left;
}

.specialists_item img{
  border-radius: 50%;
  width: 100%;
}
    .specialists_item .therapy__item{
        border-radius: 50%;
        position: relative;
    }

    .specialists_item .therapy__item:hover::before{
        background: rgba(13,67,75, .2);
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    .specialists_item .therapy__item::before{
        content: "";
        background: rgba(13,67,75, .5);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }



.map_wrap{
      margin-bottom: 50px;
      height: 500px;
    }
     .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }
   #map_canvas {
     width:411px;
     height:237px;
  }

  .contact_details{
    width: 735px;
    font-weight: 400;
    padding-left: 35px;
    border-left: 4px solid #000;
    margin-bottom: 70px;
  }
 .form_row{
    margin-bottom: 40px;
    width: 100%;
 }
.contact_form{
}

    .contact_form_item{
        float: left;
        width: 662px;
    }

    .contact_form_item2{
        width: 554px;
        float: right;
    }

    .helper{
        font-size: 16px;
        color: #8c8c8c;
        font-style: italic;
        padding-left: 29px;
        display: inline-block;
    }

.contact_form .form_row input {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #8c8c8c;
    line-height: 2;
    padding: 26px 24px;
    background-color: transparent;
}

.container .form_row input, .container .textarea_box textarea {
    border: 1px solid #42d4f8;
    }

  .textarea_box textarea {
    min-height: 278px;
    width: 100%;
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 400;
    font-style: italic;
    resize: none;
    padding: 30px 37px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

.container.contact_form {
    margin-right: 0;
}

.more_link {
    display: inline-block;;
    width: 238px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 5px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    outline: none;
    background-color: transparent;
} 

[data-btn_color="yellow"] {
    border-color: #1e1e1e;
    background-color: #1e1e1e;
    color: #fff;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

    [data-btn_color="yellow"]:hover {
        background: none;
        color: #1e1e1e;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }


/*=============*/
.therapy__description {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 50px;*/
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    color: #fff;
    z-index: 3;
    }

    .therapy__item {
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 5px;
    }

.therapy__item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*padding: 0 10px;*/
}

.therapy__img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    transition: all .2s ease;
    pointer-events: none;
    content: '';
}

.therapy__description:before {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.therapy__description > span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*=============*/
.price_blok{
    width: 100%;
    height: 66px;
    background: #444444;
    color: #fff;
    padding: 20px 36px;
    border-left: 8px solid #34ccec;
}
.price_itim{
  position: relative;
}

    .price_itim::before{
        content: "";
        position: absolute;
        background: url(../images/dots.png) 0 0 repeat-x;
        bottom: 17px;
        left: 0;
        right: 0;
        height: 2px;
        z-index: 1;
    }

    .price_itim span{
        display: inline-block;
        background: #fff;
        position: relative;
        z-index: 2;
    }

    .price_itim span:first-child{
        padding-left: 49px;
    }
    .price_itim span:last-child{
        padding-right: 49px;
    }




/*======================*/
.breadcrumbs{
    margin-bottom: 70px;
}

.breadcrumbs_item {
    font-size: 16px;
    color: #2e2e2e;
    line-height: 2.1;
    float: left;
    position: relative;
    margin-right: 5px;
}
 
     .breadcrumb_link {
        font-size: 16px;
        color: #78c5d1;
        line-height: 2.1;
        text-decoration: underline;
    }

        .breadcrumb_link:hover{
            text-decoration: none;
        }

    .breadcrumbs_item::after {
        content: ">";
        float: right;
        font-size: 16px;
        color: #78c5d1;
        line-height: 2.1;
        padding-left: 8px;
    } 

    .breadcrumbs_item:last-child::after{
        display: none;
    }

    .breadcrumbs.contact{
        padding-left: 38px;
    }


/* =================photo======== */
.foto_blok_item{ 
  float: left;
  margin-left:116px;
}

/* pagination */

.pagination{
    margin-left: -5px;
    margin-right: -5px;
    padding-right: 74px;
}

    .pagination li{
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pagination li a{
        color: #47b7c8;
        font-size: 14px;
        text-decoration: underline;
    }

    .pagination li.current a,
    .pagination li a:hover{
        color: #1e1e1e;
        text-decoration: none;
    }

/*  technologies slider   */


.technologies-slider .swiper-pagination-bullet{
    width: 25px;
    height: 24px;
    border: 1px solid #414141;
    border-radius: 50%;
    background: none;
    opacity: 1;
    cursor: pointer;
    z-index: 3;
    margin-left: 9px !important;
    margin-right: 9px !important;
}

.technologies-slider .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #414141;
}

    .technologies-slider.swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 18px;
    }

    .technologies-slider .swiper-slide{
        min-height: 650px;
    }

    .home-slider.technologies-slider figcaption.technologies-content{
        background: rgba(255,255,255, .65);
        position: absolute;
        padding: 13px 40px 12px 69px;
        min-width: 654px;
        max-width: 100%;
        width: auto;
        font-size: 18px;
        color: #1e1e1e;
        text-transform: uppercase;
        z-index: 3;
    }

    .home-slider.technologies-slider figcaption.right{
        top: 60px;
        right: 0;
        bottom: auto;
    }

    .home-slider.technologies-slider figcaption.left{
        bottom: 90px;
        right: auto;
        left: 0;
        padding-left: 105px;
        padding-right: 30px;
    }

    .home-slider.technologies-slider .swiper-slide::before{
        content: "";
        position: absolute;
        background: rgba(105,205,217, .42);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }