/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1366px) {
	body{
		font-size: 20px;
		line-height: 38px;
	}
	.container{
		max-width: 100%;
		margin: 0 auto;
		padding-left: 50px;
		padding-right: 50px;
	}

	.menu_item{
		width: 14.66%;
	}

	.menu_link{
		font-size: 14px;
	}

	.phone_num{
		display: none;
	}

	.foto_blok_item{
		width: 50%;
		margin-left: 0;
		padding: 0 10px;
	}

		.foto_blok_item img{
			max-width: 100%;
		}

		.mb160{
			margin-bottom: 100px;
		}

	.specialists{
	    margin-top: -100px;
	    margin-left: -30px;
	    margin-right: -30px;
	}

		.specialists_item{
			width: calc(33.3333% - 60px);
		    margin: 100px 30px 0;
		}

	.our-team{
	    margin-left: -30px;
    	margin-right: -30px;
    	margin-top: -100px;
	}

		.our-team__item{
			width: calc(33.3% - 60px);
		    margin-left: 30px;
		    margin-right: 30px;
		    margin-top: 100px;
		}

	.contact_form_item,
	.contact_form_item2{
		width: 45%;
	}

	.contact_form .form_row input{
		padding: 16px 24px;
	}

	.textarea_box textarea{
		min-height: 200px;
	}

	.txt-section{
		padding-left: 0;
	}

	[data-layout="2"]>*:last-child{
		padding-left: 60px;
	}

	.enroll_online_title{
		line-height: 65px;
	}

	.enroll_online_form .form_row input{
		padding: 14px 20px;
	}

	.enroll_online_form .mb50{
		margin-bottom: 30px;
	}

	.enroll_online_form .mb90{
		margin-bottom: 40px;
	}

	.popup_btn{
		line-height: 50px;
	}

	.popup_resume.arcticmodal_container_box{
		min-width: 100%;
	}

	.footer_phone{
		font-size: 34px;
	}

	.footer_info{
		font-size: 18px;
	}

	.price_itim::before {
	    bottom: 12px;
	}

}

@media only screen and (max-width: 1150px){

	.resume_box{
		padding: 40px 30px 48px;
		margin-bottom: 20px !important;
	}

	.resume_img{
		margin-right: 40px;
	}

	.certificates{
		padding: 0 40px 47px;
	}

	.certificates_item{
		width: calc(25% - 36px);
	}

	.therapy__description{
		font-size: 16px;
	}
}

@media only screen and (max-width: 1024px) {
	body{
		font-size: 18px;
		line-height: 28px;
	}

	[data-layout="2"]>*{
		width: 100%;
	}
	[data-layout="2"]>*:first-child,
	.txt-section2 [data-layout="2"]>*:first-child{
		padding-right: 0;
		margin-bottom: 25px;
	}

	[data-layout="2"]>*:last-child,
	.txt-section2 [data-layout="2"]>*:last-child{
		padding-left: 0;
	}

	.our-team__item{
		width: calc(50% - 60px);
	}

	.title5{
		font-size: 20px;
	}

	.title4{
		font-size: 24px;
	}

	.logo{
		padding: 0 25px;
	}

	.logo img{
		max-width: 100%;
	}

	.txt-section .mb100{
		margin-bottom: 50px;
	}

	.price_itim::before {
	    bottom: 8px;
	}

}

@media only screen and (max-width: 925px){

	.menu_link{
		font-size: 12px;
	}

	.footer_inner{
		display: block;
		text-align: center;
	}
	.footer_inner > div{
		display: inline-block;
		width: auto;
		margin-bottom: 20px;
	}

	.footer_inner > div:nth-child(2){
		width: 100%;
	}

	.footer_inner > div:nth-child(3){
		float: none;
		margin-bottom: 0;
		text-align: center;
	}

	.footer_info__email,
	.footer_info__address{
		margin-bottom: 0;
	}

	.footer_info dd{
		text-align: left;
	}

	.specialists_item{
		width: calc(50% - 60px);
	}
}

@media only screen and (max-width: 767px) {
	body{
		font-size: 16px;
		line-height: 26px;
	}

	.container{
		padding-left: 20px;
		padding-right: 20px;
	}

	#content{
		padding: 50px 0;
	}

	.breadcrumbs{
		margin-bottom: 40px;
	}

	.title8.mb75{
		margin-bottom: 30px;
	}

	.our-team{
		margin-left: 0;
		margin-right: 0;
		margin-top: -50px;
	}
 	.our-team__item{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 50px;
	}

	.enroll_online.arcticmodal_container_box{
		min-width: 100%;
	}

	.popup_btn{
		min-width: 250px;
	}

	.enroll_online_form{
		width: 100%;
		padding: 30px 20px;
	}

	.enroll_online_title{
		padding-left: 20px;
	}

	.resume_title{
		padding-left: 30px;
	}

	.resume_img{
		width: 100%;
		float: none;
		margin-right: 0;
	}

	.resume_box{
		padding: 40px 20px 28px;
		margin-bottom: 10px !important;
	}

	.certificates{
		padding: 0 20px 27px;
	}

	.certificates_item{
		width: calc(33.3333% - 36px);
	}


	.price_itim span:first-child{
		padding-left: 0;
	}

	.price_itim span:last-child{
		padding-right: 0;
	}

	.price_itim{
		font-size: 12px;
	}

	.price_blok{
		margin-bottom: 30px;
	}
	.price_itim.mb55{
		margin-bottom: 30px;
	}

	.contact_form_item, 
	.contact_form_item2{
		width: 100%;
		float: none;		
	}

	.map_wrap{
		height: 350px;
	}

	.contact_form .form_row input{
	    padding: 12px 24px;
	}

	.contact_details{
		width: 100%;
		margin-bottom: 25px;
	}

	.technologies-slider.home-slider .swiper-slide{
		min-height: 350px;
	}

	.home-slider.technologies-slider figcaption.technologies-content{
		min-width: 100%;
		height: auto;
		line-height: 1.2;
	}

	.footer_phone{
		font-size: 28px;
	}

	.footer_social a{
		width: 44px;
	}

	.footer_social a img{
		max-width: 100%;
	}


	/*============== Styles for NAVIGATION =================*/

	header{
		padding-top: 90px;
		padding-bottom: 90px;
	}

	.navigation_btn{
		width: 60px;
		height: 60px;
		padding: 10px;
		display: block;
		cursor: pointer;
		position: absolute;
		background-color: rgba(30,30,30, .8);
		top: 5px;
		left: -70px;
		z-index: 99;
	}

	nav{
		width: 320px;
		height: 100%;
		position: fixed;
		z-index: 999;
		top: 0;
		right: 0;
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		background-color: rgba(30,30,30, .9);
		padding: 20px 25px;
	}

	.navTrue .navigation_btn span{
	    background-color: transparent;
	    -webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.navTrue .navigation_btn span::before{
		-moz-transform: translateY(0) rotate(45deg);
		-webkit-transform: translateY(0) rotate(45deg);
		-o-transform: translateY(0) rotate(45deg);
		-ms-transform: translateY(0) rotate(45deg);
		transform: translateY(0) rotate(45deg);
		-webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
	}

	.navTrue .navigation_btn span::after{
		-moz-transform: translateY(0) rotate(-45deg);
		-webkit-transform: translateY(0) rotate(-45deg);
		-o-transform: translateY(0) rotate(-45deg);
		-ms-transform: translateY(0) rotate(-45deg);
		transform: translateY(0) rotate(-45deg);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.navigation_btn,
	nav,
	.nav_overlay{
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	nav .menu{
		overflow: auto;
		max-height: 100%;
	}

	.menu_item{
		float: none;
		margin-bottom: 10px;
	}
	.menu_link{
		font-size: 16px;
	}

	.navTrue nav{
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.navTrue .nav_overlay{
		opacity: .5;
		visibility: visible;
	}
}

@media only screen and (max-width: 650px) {
	.foto_blok_item{
		width: 100%;
		padding: 0;
	}

	.pagination{
		padding-right: 0;
	}

	[class^="home-slider-button"]{
		height: 47px;
	    width: 27px;
	    margin-top: -23px;
	    background-size: 100%;
	}

	[class^="home-slider-button"]:hover {
	    background-position: 50% 100%;
	}

	.home-slider-button-prev{
		left: 16px;
	}
	.home-slider-button-next{
		right: 16px;
	}
}

@media only screen and (max-width: 550px) {
	.certificates{
		padding: 0 20px 27px;
	}

	.certificates_item{
		width: calc(50% - 36px);
	}

	.specialists{
		margin-left: 0;
		margin-right: 0;
		margin-top: -50px;
	}

	.specialists_item{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 50px;
	}

	.home-slider .swiper-slide{
		min-height: 250px;
		line-height: 250px;
	}

	.home-slider img{
		vertical-align: middle;
	}

	.home-slide__banner-text {
	    -moz-transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -o-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	}
}

@media only screen and (max-width: 479px) {
 	.popup_btn{
		min-width: 100%;
	}

	.price_blok{
	    padding: 15px 26px;
	    height: auto;
	    margin-bottom: 20px;
	}

	.price_itim{
		border-bottom: 1px solid #1e1e1e;
		margin-bottom: 5px;
	}

	.price_itim span{
		display: block;
	}

	.price_itim span:last-child{
		float: none;
		margin-top: 5px;
	}

	.price_itim::before{
		bottom: 50%;
	}

	.txt-section2 .video{
		height: 260px;
	}

	.txt-section2 .video span{
		line-height: 260px;
	}
}

@media only screen and (max-width: 400px) {
 	nav{
		width: 240px;
	}

	.certificates{
		padding: 0 20px 27px;
		margin-left: 0;
		margin-right: 0;
		margin-top: -20px;
	}

	.certificates_item{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
	}

	.resume_title {
	    background: #9ad7e1;
	    background: -moz-linear-gradient(left, #9ad7e1 0%, #ffffff 90%);
	    background: -webkit-linear-gradient(left, #9ad7e1 0%,#ffffff 90%);
	    background: linear-gradient(to right, #9ad7e1 0%,#ffffff 90%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad7e1', endColorstr='#ffffff',GradientType=1 );
	}
}